
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('../webfonts/Montserrat.woff2');
  font-family: 'Montserrat-Light';
  src: url('../webfonts/Montserrat-Light.ttf');
}


body{ font-family: Montserrat; line-height: 1.5em; font-weight: 400;}
h1,h2,h3,h5,h6{ font-weight: 400; line-height: 1.5em;}
p{font-weight: 400; line-height: 1.5em;}


/* Colores Fondo*/
.blanco{
	background: #fff;
}

.azul{
	background: #001466;
}

/*------------------------*/


ul#menuDerecho {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: right;
	margin: auto;
}

ul#menuDerecho li {
	display: inline-block;
	position: relative;
}

ul#menuDerecho li a {
	color: #cfcfcf;
	font-size: 24px;
	text-transform: lowercase;
	display: block;
	padding: 5px 0 0 30px;
	transition: 0.5s;
	font-weight: bold;
}

ul#menuDerecho li a:hover{
	color: #ff7f7f;
	text-decoration: none;
}

.mi-paa-50{
	margin-top: 50px;
	margin-bottom: 50px;
}

.mi-pa-50{
	margin-top: 50px;
}

.mi-pid-40{
	margin-left: 40px;
	margin-right: 40px;
}

.mi-ancho-linea-1{
	line-height: 0.5em
}
.main-svg, .rect1, .rect2, .rect3{
	width:100%;
	height:100%; 
}

.rect1{
	fill: #666;
}

.rect2{
	fill: #2641AF;
}

.rect3{
	fill: #FF0000;
}

.titulo, .titulo-slide, #subtitulo-slide{
	font-family: Montserrat-Light;
	font-weight: 200;
}

.titulo{
	font-size: 80px;
}

.titulo-slide{
	font-size: 60px;
}

#subtitulo-slide{
	font-size: 30px;
}


.titulo-about-1, .titulo-about-2,.titulo-about-3,.titulo-about-4,.parrafo-about-1,.titulo-about-left-1, .titulo-about-left-2,.titulo-about-left-3,.titulo-about-left-4,.parrafo-about-left-1{
	color: #000;
	text-align: left;	
}

.titulo-about-1, .titulo-about-2,.titulo-about-3,.titulo-about-4,.parrafo-about-1{
	padding: 0 0 0 90px;		
}

.titulo-about-1, .titulo-about-left-1{	
	font-size: 80px;
}

.titulo-about-2, .titulo-about-left-2{
	font-size: 48px;
	line-height: 0.5em;
}

.titulo-about-3,.titulo-about-left-3{
	font-size: 25px;
	line-height: 1em;	
}

.titulo-about-4, .titulo-about-left-4{
	font-size: 24px;
}


.parrafo-about-1, .parrafo-about-left-1{
	padding: 14px 0 0 90px;
}

.parrafo-about-left-1{
	padding: 14px 0 0 0;
}

.imagen-about-1{
	margin: 0 0 75px 0;
}

.imagen-about-11{
	margin: 0 0 0px 0;
}

.imagen-about-left-1{
	margin: 0 0 75px 15px;
}

.btn-negro, .btn-negro:hover, .btn-blanco, .btn-blanco:hover, .btn-blanco-left, .btn-blanco-left:hover{
	margin: 60px 0;
	font-size: 18px;
	line-height: 1em;
	-webkit-border-radius: 48;
  	-moz-border-radius: 48;
  	border-radius: 48px;
}

.btn-negro, .btn-negro:hover{
	padding: 15px 30px;
	border: 1px solid #000;
}

.btn-blanco, .btn-blanco:hover, .btn-blanco-left, .btn-blanco-left:hover{
	border: 1px solid #d8d8d8;
	float: left;
}

.btn-blanco, .btn-blanco:hover{
	margin: 50px 0 0 90px;
}

.btn-blanco-left, .btn-blanco-left:hover{
	margin: 50px 0 0 0;
}


.btn-negro{
	background: #000; 
	color: #c0c0c0;
}

.btn-negro:hover{
	background: #001466; 
	color: #fff;
}

.btn-blanco, .btn-blanco-left{
	background: #fff; 
	color: #000;

}

.btn-blanco:hover, .btn-blanco-left:hover{
	background: #001466; 
	color: #fff;
}

.area-click:hover{
	cursor: pointer;
	text-decoration-line: none;
}

.social_area ul{
	margin: 20px 0 0 -1px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.social_area ul li{
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 10px;

}

.social_area ul li a{
	background: #DFDFDF;
	color: #606060;
	width: 30px;
	text-align: center;
	display: block;
	height: 30px;
	padding-top: 3px;
	border-radius: 50%;
	transition: 0.5s;
}

.social_area ul li a:hover{
	background: #DFDFDF;
}

.team{
	background: #fff;
	text-align: center;
}

.team h1{
	padding: 40px 0;
	font-size: 60px;
}

.team h2{
	padding: 0;
	font-size: 30px;
	line-height: 1em;
}

.team h3{
	font-size: 10px;
	font-weight: bold;
}

.team h3{
	font-size: 18px;
}

.team p{
	padding-left: 15px;
	padding-right: 15px;
}

.team img{
	padding: 0 0 23px 0;
}

.footer{
	background: url(../img/fondo.png) repeat;
	color: #fff;
}

.footer h1{
	padding: 80px 0;
	width: 100%;
	clear: both;
	color: #fff;
	text-align: center;
}

.footer .child_footer{
	width: 100%;
	clear: both;
	margin-bottom: 20px;
}

.footer .child_footer i{
	text-align: left;
}

.footer .child_footer h2.title{
	font-size: 18px;
	text-transform: uppercase;
}

.footer .child_footer p{
	font-size: 14px;
	text-transform: none;
}

.footer .child_footer a{
	color: #871f21;
}

.footer .child_footer ul{
	padding: 0 0 15px 0;
	margin: 0;
	list-style: none;
	text-align: left;
}

.footer .child_footer ul li{
	padding: 0 15px 0 0;
	display: inline-block;
	position: relative;
	line-height: 0em;
}

.footer .child_footer ul li p{
	font-size: 18px;
}

.footer .social_area {

}

.footer .social_area ul{
	margin: 40px 0 0 -1px;
	padding: 0;
	list-style: none;
	text-align: left;
}

.footer .social_area ul li{
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 10px;

}

.footer .social_area ul li a{
	background: #fff;
	color: #000	;
	width: 45px;
	text-align: center;
	display: block;
	height: 45px;
	padding-top: 7px;
	border-radius: 50%;
	transition: 0.5s;
}

.footer .social_area ul li a:hover{
	background: #fff;
}

.footer .child_footer input{
	width: 100%;
	background-color: transparent;
	color: #DFDFDF;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom:0.5px solid #DFDFDF;
	padding: 0 0 20px 0;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;

}

.footer .child_footer input[type="submit"]{
	background: #fff;
	color: #000;
	width: 150px;
	border: 1px solid #871f21;
	transition: 0.5s;
	cursor: pointer;
	margin: 50px 0 100PX 0;
	padding: 15px 30px;
	border: 1px solid #d8d8d8;
	-webkit-border-radius: 48;
  	-moz-border-radius: 48;
  	border-radius: 48px;	
}
#footer .child_footer input[type="submit"]:hover{
	background: #001466;
	color: #fff;
}

.pie {	
	height: 100%;
	padding: 40px 0;
}

.pie p{
	width: 100%;	
	text-align: center;
	margin: auto;
}

#separadortitulo{
	line-height: 1.5em;
	font-size: 40px;
	font-weight: bold;
	margin: -50px 0 0 90px;
	color: #000;
	padding: 0;
}

.separador{
	line-height: 1.5em;
	font-size: 40px;
	font-weight: bold;
	margin: 0;
	padding: -150px 0 0 0;
	clear: both;
}

.instagram_section h1{
	padding: 0 0 100px 0;
	margin: 0;
	width: 100%;
	background: #fff;
	clear: both;
	height: 100%;
	text-align: center;
}

.instagram_section input[type="submit"], #instagram_section input[type="submit"]:hover{
	margin: 50px 0 100px 0;
	float: center;
	font-size: 18px;
	line-height: 1em;
	padding: 15px 45px;
	border: 1px solid #d8d8d8;
	-webkit-border-radius: 48;
  	-moz-border-radius: 48;
  	border-radius: 48px;
}

.instagram_section input[type="submit"]{
	background: #fff; 
	color: #000;
}

.instagram_section input[type="submit"]:hover{
	background: #001466; 
	color: #fff;
}